# jwt_tokens
JWT_SECRET_ACCESS=#openssl rand -hex 64
JWT_SECRET_REFRESH=#openssl rand -hex 64

# db
SPRING_DATASOURCE_USERNAME=calendar
SPRING_DATASOURCE_PASSWORD=db_password
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/calendar?currentSchema=calendar
SPRING_LIQUIBASE_USER=liquibase
SPRING_LIQUIBASE_PASSWORD=liquibase_password

# oauth2 google
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=google_client_id
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=google_client_secret
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_REDIRECT_URI=http://localhost:8080/api/login/oauth2/code/google

# emails
SPRING_MAIL_USERNAME=email_username
SPRING_MAIL_PASSWORD=email_password

# redirect
REDIRECT_SUCCESS=/api/readyz
REDIRECT_FAIL=/api/auth/error
